<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1 shrink-to-fit=no, width=device-width">
        <title>Collectible Cards</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link href="./static/style.css" rel="stylesheet" type="text/css">
        <link href="./static/logo.png" rel="icon" type="image/png">
    </head>
    <body>
        {% block nav %}{% endblock %}
        {% block content %}{% endblock %}
        <script src="./static/js/jquery.min.js"></script>
        <script src="./static/js/common.js"></script>
        {% block page_js %}{% endblock %}
    </body>
</html>

